Repository hmcts/nfdiv-ccd-definitions, pull requests merged in 2021-01, with the labels that each got.

#13 adding divorceOrDissolution field to ccd case
  README.md
  definitions/divorce/json/AuthorisationCaseField/AuthorisationCaseField.json
  definitions/divorce/json/CaseEventToFields/CaseEventToFields.json
  definitions/divorce/json/CaseField/CaseField.json
  definitions/divorce/json/FixedLists/FixedLists.json
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-ccd-definitions-pr-13

#18 Fix ccd defintions
  definitions/divorce/json/CaseEventToFields/CaseEventToFields-deemed-and-dispensed-nonprod.json
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-ccd-definitions-pr-18

#20 Revert "Merge pull request #13 from hmcts/NFDIV-367/add-field-ccd-case"
  README.md
  definitions/divorce/json/AuthorisationCaseField/AuthorisationCaseField.json
  definitions/divorce/json/CaseEventToFields/CaseEventToFields.json
  definitions/divorce/json/CaseField/CaseField.json
  definitions/divorce/json/FixedLists/FixedLists.json
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-ccd-definitions-pr-20
