Repository hmcts/nfdiv-ccd-definitions, pull requests merged in 2021-02, with the labels that each got.

#31 Nfdiv 384/draft state
  README.md
  definitions/divorce/json/AuthorisationCaseEvent/AuthorisationCaseEvent.json
  definitions/divorce/json/AuthorisationCaseField/AuthorisationCaseField.json
  definitions/divorce/json/AuthorisationCaseState/AuthorisationCaseState.json
  definitions/divorce/json/CaseEvent/CaseEvent.json
  definitions/divorce/json/CaseEventToFields/CaseEventToFields.json
  definitions/divorce/json/CaseField/CaseField.json
  definitions/divorce/json/FixedLists/FixedLists.json
  definitions/divorce/json/State/State.json
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-ccd-definitions-pr-31

#34 change the name of the case event to make more sense.
  definitions/divorce/json/CaseEvent/CaseEvent.json
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-ccd-definitions-pr-34

#33 Add draftUpdate case event
  definitions/divorce/json/AuthorisationCaseEvent/AuthorisationCaseEvent.json
  definitions/divorce/json/CaseEvent/CaseEvent.json
  definitions/divorce/json/CaseEventToFields/CaseEventToFields.json
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-ccd-definitions-pr-33

#35 update event name
  definitions/divorce/json/CaseEvent/CaseEvent.json
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-ccd-definitions-pr-35

#37 Upstream changes
  Jenkinsfile_CNP
  charts/nfdiv-ccd-definitions/Chart.yaml
  charts/nfdiv-ccd-definitions/requirements.yaml
  charts/nfdiv-ccd-definitions/values.preview.template.yaml
  definitions/divorce/json/AuthorisationCaseEvent/AuthorisationCaseEvent-general-referral-nonprod.json
  definitions/divorce/json/AuthorisationCaseEvent/AuthorisationCaseEvent-resp-journey-roles-and-permissions-nonprod.json
  definitions/divorce/json/AuthorisationCaseEvent/AuthorisationCaseEvent-resp-journey-roles-and-permissions-prod.json
  definitions/divorce/json/AuthorisationCaseEvent/AuthorisationCaseEvent.json
  definitions/divorce/json/AuthorisationCaseField/AuthorisationCaseField-resp-journey-roles-and-permissions-nonprod.json
  definitions/divorce/json/AuthorisationCaseField/AuthorisationCaseField.json
  definitions/divorce/json/AuthorisationCaseState/AuthorisationCaseState-alternative-service-nonprod.json
  definitions/divorce/json/AuthorisationCaseState/AuthorisationCaseState-resp-journey-roles-and-permissions-nonprod.json
  definitions/divorce/json/AuthorisationCaseState/AuthorisationCaseState-share-a-case-nonprod.json
  definitions/divorce/json/AuthorisationCaseType/AuthorisationCaseType-prod.json
  definitions/divorce/json/CaseEvent/CaseEvent-deemed-and-dispensed-nonprod.json
  definitions/divorce/json/CaseEvent/CaseEvent-prod.json
  definitions/divorce/json/CaseEvent/CaseEvent-resp-journey-roles-and-permissions-nonprod.json
  definitions/divorce/json/CaseEvent/CaseEvent-share-a-case-nonprod.json
  definitions/divorce/json/CaseEvent/CaseEvent.json
  definitions/divorce/json/CaseEventToComplexTypes/CaseEventToComplexTypes-pet-sol-selects-own-org-nonprod.json
  definitions/divorce/json/CaseEventToComplexTypes/CaseEventToComplexTypes-resp-journey-roles-and-permissions-nonprod.json
  definitions/divorce/json/CaseEventToFields/CaseEventToFields-alt-service-process-server-nonprod.json
  definitions/divorce/json/CaseEventToFields/CaseEventToFields-alternative-service-nonprod.json
  definitions/divorce/json/CaseEventToFields/CaseEventToFields-deemed-and-dispensed-nonprod.json
  definitions/divorce/json/CaseEventToFields/CaseEventToFields-pet-sol-selects-own-org-nonprod.json
  definitions/divorce/json/CaseEventToFields/CaseEventToFields-pet-sol-selects-own-org-prod.json
  definitions/divorce/json/CaseEventToFields/CaseEventToFields-prod.json
  definitions/divorce/json/CaseEventToFields/CaseEventToFields-resp-journey-roles-and-permissions-nonprod.json
  definitions/divorce/json/CaseEventToFields/CaseEventToFields-resp-journey-roles-and-permissions-prod.json
  definitions/divorce/json/CaseEventToFields/CaseEventToFields.json
  definitions/divorce/json/CaseField/CaseField-resp-journey-roles-and-permissions-nonprod.json
  definitions/divorce/json/CaseField/CaseField-share-a-case-nonprod.json
  definitions/divorce/json/CaseField/CaseField.json
  definitions/divorce/json/CaseTypeTab/CaseTypeTab-pet-sol-selects-own-org-nonprod.json
  definitions/divorce/json/CaseTypeTab/CaseTypeTab-resp-journey-roles-and-permissions-nonprod.json
  definitions/divorce/json/CaseTypeTab/CaseTypeTab.json
  definitions/divorce/json/FixedLists/FixedLists.json
  definitions/divorce/json/SearchCasesResultFields/SearchCasesResultFields-resp-journey-roles-and-permissions-nonprod.json
  package.json
  test/unit/definitions/divorce/AuthorisationCaseEvent.test.js
  test/unit/definitions/divorce/AuthorisationCaseField.test.js
  test/unit/definitions/divorce/AuthorisationCaseState.test.js
  test/unit/definitions/divorce/AuthorisationComplexCaseType.test.js
  test/unit/definitions/divorce/CaseEvent.test.js
  test/unit/definitions/divorce/CaseEventToComplexTypes.test.js
  test/unit/definitions/divorce/CaseEventToFields.test.js
  test/unit/definitions/divorce/CaseField.test.js
  test/unit/definitions/divorce/CaseTypeTab.test.js
  test/unit/definitions/divorce/GenericValidation.test.js
  test/unit/definitions/divorce/UserEventAuthorisation.test.js
  test/unit/definitions/divorce/UserRoleStateAuth.test.js
  test/unit/utils/dataProvider.js
  yarn.lock
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-ccd-definitions-pr-37

#38 Allow admins to update drafts
  definitions/divorce/json/AuthorisationCaseState/AuthorisationCaseState.json
Labels: ns:nfdiv, prd:nfdiv, rel:nfdiv-ccd-definitions-pr-38
